<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntegratedServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>csce361.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>csce361.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>csce361.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>csce361.servlet.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIngredient</display-name>
    <servlet-name>UserIngredient</servlet-name>
    <servlet-class>csce361.servlet.UserIngredient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIngredient</servlet-name>
    <url-pattern>/UserIngredient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecipeList</display-name>
    <servlet-name>GetRecipeList</servlet-name>
    <servlet-class>csce361.servlet.GetRecipeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipeList</servlet-name>
    <url-pattern>/GetRecipeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserIngre</display-name>
    <servlet-name>DeleteUserIngre</servlet-name>
    <servlet-class>csce361.servlet.DeleteUserIngre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserIngre</servlet-name>
    <url-pattern>/DeleteUserIngre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecipe</display-name>
    <servlet-name>GetRecipe</servlet-name>
    <servlet-class>csce361.servlet.GetRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecipe</servlet-name>
    <url-pattern>/GetRecipe</url-pattern>
  </servlet-mapping>
</web-app>